*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav starts here  */
.navbar-wrapper{
    background-color: rgb(71, 85,105);
}
.nav-main{
    
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
   color: white;
   font-style: italic;

}
.nav-main h1{
    margin-top: 12px;
    font-size: 30px;
    font-weight: 700;
}
.nav-manu-btn{
    padding: 20px;
    margin-left: 5px;
    border-radius: 8px;
   background-color: black;
    color: white;
    border: none;
    margin-left: 10px;
    
}
.nav-hamburger-menu{
    display: none;
}

    /* nav ends here  */
    /* hero css starts here  */
    .main-parent{
        border: 2px solid red;
        max-width: 1200px;
        margin: 0 auto;
        min-height: 400px;
    }
     /* hero css Ends here  */
     @media screen and (max-width:800px) {
        .nav-main{
            flex-direction: column;
            align-items: center;
        }
        .nav-main> div{
            margin-top: 10px;
        }
    
        @media screen and (max-width:500px) {
            .nav-hamburger-menu{
                display: block;
            }
            .nav-btn-container{
                display:none;
            }
            .nav-main{
                flex-direction: row;
                
            }
        }